// Main screen.

.main-screen-wrapper {
  padding-top: 33px;
  color: $white;
  background-image: url("../img/png/bg-mask.png");
  background-size: 100% auto;
  background-position: top center;
  background-color: $bg-dark;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/png/bg-mask@2x.png");
  }
}

.main-screen-wrapper__header {
  @include center-fix-width(24px, 1462px);
  margin-bottom: 173px;

  @media (max-width: $tablet-width) {
    margin-bottom: 10px;
  }

  @media (max-width: $mobile-width) {
    @include side-padding(17px, 15px);
    margin-bottom: 15px;
  }
}

.main-screen-wrapper__main-block {
  margin-bottom: 105px;

  @media (max-width: $tablet-width) {
    margin-bottom: 59px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 35px;
  }
}
