// Variables.

// Colors.

$white: #ffffff;
$black: #000000;
$standart-blue: #00b2ff;
$bg-dark: #1b2d37;
$products-link-bg: #172730;
$title-slogan-text: #788891;
$social-buttons: #999999;
$footer-borders: #626962;
$footer-buttons: #c4c4c4;
$advantages-list-border: #ebebeb;
$advantages-title: #666666;

// Viewports.

$mobile-min-width: 320px;
$mobile-width: 767px;
$tablet-min-width: 768px;
$tablet-width: 1023px;
$desktop-width: 1024px;
